body {
  background-color: yellow;
}

@media all and (max-width: 768px) {
  body {
    background-color: pink;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: skyblue;
  }
}
